<% if logged_in? %>
  <div class="row">
    <aside class="col-sm-4">
      <%= form_with(model: @micropost, local: true) do |f| %>
        <div class="form-group">
          <%= f.text_area :content, class: 'form-control', rows: 5 %>
        </div>
        <%= f.submit '投稿する', class: 'btn btn-primary btn-block' %>
      <% end %>
      <div>
        <figure>
          <%# app/assets/images %>
          <%= image_tag "https://cdn.pixabay.com/photo/2013/09/16/19/36/soccer-182994_960_720.jpg", alt: "サッカーの楽しさ", id: "assets", class: "image", width: "200px" %>
          <figcaption>https://cdn.pixabay.com/photo/2013/09/16/19/36/soccer-182994_960_720.jpg, サッカーの楽しさ</figcaption>
        </figure>
      </div>
    </aside>
    <div class="col-sm-8">
      <%= render 'microposts/microposts', microposts: @microposts %>
    </div>
  </div>
<% else %>
  <div class="row">
  <div class="center jumbotron">
    <div class="text-center">
      <h1>ようこそ！　Web新潟アルビレックスへ！</h1>
      <%= link_to '今すぐ登録する!', signup_path, class: 'btn btn-lg btn-primary' %>
      <h2>さあ！ あなたの思いを仲間と共有しよう！</h2>
    </div>
  </div>
  
  <div class="text-center">
    <figure>
      <%# app/assets/images %>
      <%= image_tag "https://cdn.pixabay.com/photo/2019/12/16/08/50/football-4698906_960_720.jpg", alt: "サッカーボール", id: "assets", class: "image", width: "800px" %>
      <figcaption>https://cdn.pixabay.com/photo/2019/12/16/08/50/football-4698906_960_720.jpg, サッカーボール</figcaption>
    </figure>
  </div>
  </div>
<% end %>
