<% if logged_in? %>
  <div class="row">
    <aside class="col-sm-4">
      <%= form_with(model: @micropost, local: true) do |f| %>
        <div class="form-group">
          <%= f.text_area :content, class: 'form-control', rows: 5 %>
        </div>
        <%= f.submit '投稿する', class: 'btn btn-primary btn-block' %>
      <% end %>
      <div class="col-sm-8">
        <figure>
          <img src="https://www.football-lab.jp/img/team/NIIG_l.png" alt="新潟アルビレックスのロゴ">
          <figcaption>新潟アルビレックスのロゴ</figcaption>
        </figure>
      </div>
    </aside>
    <div class="col-sm-8">
      <%= render 'microposts/microposts', microposts: @microposts %>
      <figure>
        <img src="http://gs-files.spaia.jp/wp-content/uploads/SP_1811_G012f.jpg" alt="新潟アルビレックスの試合中の写真">
        <figcaption>新潟アルビレックスの試合中の写真</figcaption>
  　   </figure>
    </div>
  </div>
<% else %>
  <div class="row">
  <div class="center jumbotron">
    <div class="text-center">
      <h1>ようこそ！　Web新潟アルビレックスへ！</h1>
      <%= link_to '今すぐ登録する!', signup_path, class: 'btn btn-lg btn-primary' %>
      
      <h2>さあ！ あなたの思いを仲間と共有しよう！</h2>
    </div>
  </div>
  </div>
  
  <div class="col-sm-4">
    <figure>
      <img src="http://www.jfa.jp/match/emperorscup_2019/img/team_j2_11.jpg" alt="新潟アルビレックスの試合前の写真">
      <figcaption>新潟アルビレックスの試合前の写真</figcaption>
  　</figure>
  </div>
<% end %>
